@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
    font-family: "Quicksend", sans-serif;

    max-height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3c5aa6;
}